.content-benefit{
    width: 70%;
    border-bottom:1px solid rgb(218, 218, 218);
    

}
.desc-benefit{
    color: #354148;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;    
    padding-right: 14%;
    margin-top: 2%;
    font-family: MuseoSans, sans-serif
}
.img-desc img{
    width: 60%;
}