.contentPartner{
    width: 70%;
}
.partner-bus{
    list-style-type: none;
    margin: 10px;
    
}
.partner-travel{
    list-style-type: none;
    margin: 10px;
}
.list-partner{
    display: flex;
    flex-wrap: wrap;
}
.desc-text{
    color: #354149;
    font-size: 16px;
    line-height: 24px
}
.pembayaran{
    width:calc((100% / 7) - 3px)
}